body {
    margin: 0;
    font-family: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
    background: rgb(41, 41, 41);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: rgb(179, 177, 174);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
}

input {
    height: 29px;
}

button {
    height: 35px;
}

.name-tag {
    margin-top: 20px;
    width: 400px;
    height: 300px;
    background: rgb(71, 171, 196);
    text-align: center;
    border-radius: 20px;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    color: antiquewhite;
    font-size: 70px;
    padding: 15px;
}

.intro-line {
    margin: 0;
    font-size: 30px;
    font-family: Georgia;
    font-style: italic;
}
.name {
    margin: 0;
    margin-top: 20px;
    padding: 20px;
    height: 50px;
    background: white;
    font-size: 35px;
    font-family: 'Noto Sans Mono';
}

.black {
    color: black;
}

.name-prompt {
    font-family: Impact;
    margin-right: 20px;
}
.color-prompt {
    font-family: Impact;
}

.colors{
    background-color = color
}
